.disc {
  border-radius: 50%;
  border: 3px solid black;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: relative;
}

.disc:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.disc__content {
  position: absolute;
  width: 65%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
