.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
}

.tile--red {
  background-color: red;
}

.tile--black {
  background-color: black;
}

.tile--yellow {
  background-color: yellow;
}

.tile--blue {
  background-color: blue;
}

.tile--white {
  background-color: white;
}